<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:mbean-server id="mbeanServer"/>
	<context:mbean-export default-domain="hibernate-groept"/>
	
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" >
		<property name="shared" value="true"/>
		<property name="configLocation" value="classpath:/ehcache.xml"/>
	</bean>

	<bean id="managementService" class="net.sf.ehcache.management.ManagementService" 
         init-method="init"
         destroy-method="dispose">
      <constructor-arg ref="cacheManager"/>
      <constructor-arg ref="mbeanServer"/>
      <constructor-arg index="2" value="true"/>
      <constructor-arg index="3" value="true"/>
      <constructor-arg index="4" value="true"/>
      <constructor-arg index="5" value="true"/>
	</bean>
</beans>